<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis 프레임워크에서 사용될 여러가지 환경 설정 정보들을 설정 -->
<configuration>
	<!-- 테이블의 이름, 컬럼 이름들 상수를 정의 -->
	<properties> <!-- 1개만 정의 가능 -->
		<property name="tbl_noticeboard" value="tbl_noticeboard"/>
		<property name="col_noticeboard_no" value="noticeboard_no"/>
		<property name="col_noticeboard_rno" value="noticeboard_rno"/>
		<property name="col_noticeboard_title" value="noticeboard_title"/>
		<property name="col_noticeboard_title" value="noticeboard_title"/>
		<property name="col_noticeboard_content" value="noticeboard_content"/>
		<property name="col_date" value="date"/>
		
		
		
		
	</properties>
	
	<!-- MyBatis 프레임워크에서 select의 결과를 저장할 Model 클래스(VO)를 찾기 위해서 -->
	<typeAliases>
		<!-- 아래 폴더에서 Model 클래스를 찾음 -->
		<package name="edu.spring.spring.domain"/>
	</typeAliases>
	
</configuration>







